/* Image */
.image-container::before {
  content: '';
  display: block;
}

.image-container-16-9::before {
  padding-top: 56.2%;
}

.image-container-1-1::before {
  padding-top: 100%;
}

.image-container-4-3::before {
  padding-top: 75%;
}

.image-container {
  position: relative;

  & .loading-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .ant-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
